<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="dialog-form">
  <mat-dialog-content class="mat-typography">
    <h3>Add user</h3>
    <mat-form-field class="dialog-full-width">
      <mat-label>First Name</mat-label>
      <input matInput value="Sushi" formControlName="firstName" />
    </mat-form-field>

    <mat-form-field class="dialog-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field class="dialog-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
      <button mat-button type="submit" [disabled]="!userForm.valid">Add</button>
      <button mat-button [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>
