mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title {
  margin: 10px;
}

.proxy-toggle {
  position: absolute;
  right: 10px;
}